body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    background-attachment: fixed;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.wrapper {
    flex: 1;
    padding: 20px;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

header h2, footer p {
    margin: 0;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    background-color: #4cae4c;
}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form select, form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

#result {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #dff0d8;
    border-radius: 5px;
    text-align: center;
}

footer {
    margin-top: auto;
    width: 100%;
}

.success-message {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #dff0d8;
    border-radius: 5px;
    text-align: center;
}

.success-message h3 {
    color: #3c763d;
}

.success-message p {
    font-size: 16px;
    color: #333;
}